body {
  background: linear-gradient(to right, #8360c3, #2ebf91);
}

#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #181c1d;
  font-size: 160px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
@media (max-width: 768px) {
  #clock {
    font-size: 100px;
  }
}

@media (max-width: 480px) {
  #clock {
    font-size: 60px;
  }
}
